!!!
head
    title Welcome to the internet.
    link(rel='stylesheet', href='/css/style.css')
body
    .message Welcome to the internet.
    script(type="text/javascript", src="/js/three.min.js")
    script(type="text/javascript", src="/js/starfield.js")