!!!
head
    meta(charset='utf-8')
    meta(name='title', content='Welcome to the internet.')
    meta(name='description', content='Page welcoming users to the internet.')
    link(rel='image_src', href='/img/preview.png')    
    meta(name='viewport', content='width=device-width')
    title Welcome to the internet.
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', type="image/ico", href="/img/favicon.ico")
body
    - //iframe(src="http://ghbtns.com/github-btn.html?user=cesarandreu&repo=welcome-to-the-internet&type=star&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="62", height="20")
    .buttons
        iframe(src="http://ghbtns.com/github-btn.html?user=cesarandreu&type=follow", allowtransparency="true", frameborder="0", scrolling="0", width="150", height="20")
        iframe(src="http://ghbtns.com/github-btn.html?user=cesarandreu&repo=welcome-to-the-internet&type=watch", allowtransparency="true", frameborder="0", scrolling="0", width="58", height="20")
        a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://internetify.me/", data-text="Welcome to the internet.", data-via="CesarAndreu", data-count="none")
    .message Welcome to the internet.
    script(type="text/javascript", src="/js/three.min.js")
    script(type="text/javascript", src="/js/starfield.js")
    script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');